body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    background: #fff;
    background: rgba(255,255,255,0.4);
    -ms-filter: "alpha(opacity=40)";
}

.loading:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    background: url(/images/loader-dark.gif) no-repeat;
}
